---
import Layout from '../layouts/Layout.astro'
import tailyUI from 'taily-ui'
---

<Layout
    title="Welcome to Taily UI"
    description="Beautiful, fast, and modern UI Library 100% built and animated with pure Tailwind CSS."
>
    <main class="select-none overflow-hidden">
        <fragment
            set:html={tailyUI.OpenSourcePromo({
                logo: '/favicon.svg',
                title: 'Taily UI',
                color: 'secondary',
                text: [
                    { type: 'default', value: 'Build' },
                    { type: 'primary', value: 'beautiful' },
                    {
                        type: 'default',
                        value: 'websites with compact, easy to use a fully animated components on top of'
                    },
                    { type: 'secondary', value: 'Tailwind CSS' }
                ],
                description: 'Beautiful, fast, and modern UI Library 100% built and animated with pure Tailwind CSS.',
                button: {
                    title: 'Read docs',
                    link: '/docs/components/buttons'
                },
                github: 'https://github.com/nikdelvin/taily-ui'
            })}
        />
    </main>
</Layout>
