---
import Layout from '../layouts/Layout.astro'
import tailyUI from 'taily-ui'
---

<Layout
    title="Welcome to Taily UI"
    description="Beautiful, fast, and modern UI Library 100% built and animated with pure Tailwind CSS."
>
    <main class="select-none overflow-hidden">
        <fragment
            set:html={tailyUI.OpenSourcePromo({
                logo: '/favicon.svg',
                title: 'Taily UI',
                color: 'secondary',
                text: [
                    { type: 'default', value: 'Build' },
                    { type: 'primary', value: 'beautiful' },
                    {
                        type: 'default',
                        value: 'websites with compact, easy to use a fully animated components on top of'
                    },
                    { type: 'secondary', value: 'Tailwind CSS' }
                ],
                description: 'Beautiful, fast, and modern UI Library 100% built and animated with pure Tailwind CSS.',
                button: {
                    title: 'Read docs',
                    link: '/docs/components/buttons'
                },
                github: 'https://github.com/nikdelvin/taily-ui'
            })}
        />
        <fragment
            id="kpi"
            set:html={tailyUI.KPICards({
                title: 'Build UI everywhere',
                color: 'secondary',
                cards: [
                    { title: 'Pure', description1: 'Tailwind CSS', description2: 'components' },
                    { title: 'Easy', description1: 'to use site', description2: 'layouts' },
                    { title: 'Fast', description1: 'optimized', description2: 'builds' },
                    { title: 'Free', description1: 'open source', description2: 'license' }
                ],
                button: {
                    title: 'Make new landing',
                    link: '/'
                }
            })}
        />
    </main>
</Layout>
