---
import Layout from '../layouts/Layout.astro'
import Taily from '../icons/taily.astro'
import Github from '../icons/github.astro'
---

<Layout title="Welcome to Taily UI">
    <main class="select-none overflow-hidden">
        <div class="flex h-screen w-screen flex-col overflow-y-scroll">
            <div class="bg-gradient-to-tr from-fuchsia-500/25 via-zinc-950 to-cyan-500/25 text-zinc-50">
                <div class="flex h-full w-full flex-col items-center justify-start gap-4 p-16">
                    <div class="grid grid-flow-row grid-cols-1 gap-4 lg:grid-cols-2">
                        <div class="flex w-full flex-col">
                            <div class="mb-16 flex flex-row items-center gap-2">
                                <div class="h-[96px] w-[96px]"><Taily /></div>
                                <h1
                                    class="bg-gradient-to-r from-fuchsia-500 via-blue-500 to-cyan-500 bg-clip-text text-8xl font-bold leading-tight text-transparent"
                                >
                                    Taily UI
                                </h1>
                            </div>
                            <h1 class="mb-10 text-5xl font-bold leading-tight">
                                Build <span
                                    class="inline bg-gradient-to-r from-purple-500 via-violet-500 to-indigo-500 bg-clip-text text-transparent"
                                    >beautiful</span
                                > websites with compact, easy to use a fully animated components on top of <span
                                    class="inline bg-gradient-to-r from-cyan-500 via-sky-500 to-blue-500 bg-clip-text text-transparent"
                                    >Tailwind CSS</span
                                >
                            </h1>
                            <h3 class="mb-10 text-2xl text-zinc-500">
                                Beautiful, fast, and modern UI Library 100% built and animated with pure Tailwind CSS.
                            </h3>
                            <div class="grid w-[400px] grid-flow-row grid-cols-2 gap-4">
                                <a
                                    data-color="primary"
                                    data-type="solid"
                                    data-size="large"
                                    class="button"
                                    href="/docs/components/buttons"
                                >
                                    <span class="font-medium">Read docs</span>
                                </a>
                                <a
                                    data-color="secondary"
                                    data-type="bordered"
                                    data-size="large"
                                    class="button"
                                    href="https://github.com/nikdelvin/taily-ui"
                                >
                                    <Github />
                                    <span class="font-medium">GitHub</span>
                                </a>
                            </div>
                        </div>
                        <div class="mx-8 my-16 grid grid-flow-row grid-cols-2 gap-4">
                            <div
                                class="flex h-full w-full rotate-[-10deg] scale-100 flex-col items-center justify-center rounded-3xl bg-gradient-to-r from-fuchsia-500 via-blue-500 to-cyan-500 py-4"
                            >
                                <img
                                    alt="Main 1"
                                    src="/main-1.png"
                                    width={640}
                                    height={360}
                                />
                            </div>
                            <div class="flex h-full flex-col items-center justify-center"></div>
                            <div class="flex h-full flex-col items-center justify-center"></div>
                            <div
                                class="flex h-full w-full rotate-[10deg] scale-90 flex-col items-center justify-center rounded-3xl bg-gradient-to-r from-fuchsia-500 via-blue-500 to-cyan-500 py-4 blur-sm"
                            >
                                <img
                                    alt="Main 2"
                                    src="/main-2.png"
                                    width={640}
                                    height={360}
                                />
                            </div>
                            <div
                                class="flex h-full w-full rotate-[-10deg] scale-[0.8] flex-col items-center justify-center rounded-3xl bg-gradient-to-r from-fuchsia-500 via-blue-500 to-cyan-500 py-4 blur-md"
                            >
                                <img
                                    alt="Main 3"
                                    src="/main-3.png"
                                    width={640}
                                    height={360}
                                />
                            </div>
                            <div class="flex h-full flex-col items-center justify-center"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</Layout>
